<h1>Calculator</h1>
<main id="container">
  <mat-form-field appearance="fill">
    <input matInput [value]="input" readonly />
  </mat-form-field>
  <div class="pad">
    <div class="clears">
      <button mat-raised-button color="primary" (click)="input = ''">C</button>
      <button mat-raised-button color="primary" (click)="handleClearEntry()">
        CE
      </button>
    </div>
    <div class="digits">
      <button
        *ngFor="let digit of DIGITS"
        mat-raised-button
        color="primary"
        (click)="handleDigitClick(digit)"
      >
        {{ digit }}
      </button>
      <button mat-raised-button color="primary" (click)="handleCalculate()">
        =
      </button>
    </div>
    <div class="operators">
      <button
        *ngFor="let operator of OPERATORS"
        mat-raised-button
        color="primary"
        (click)="handleOperatorClick(operator)"
      >
        {{ operator }}
      </button>
    </div>
  </div>
</main>
